<div id="contentDiv">
  <h4 class="title">
    <button mat-button  (click)="goBack()" class="go-back"> 
      <mat-icon >navigate_before</mat-icon> 
    </button>
    Register Course</h4>
  <hr>
  <div class="pt-2"></div>
  <div>
    <div class="row">
      <div class="col col-lg-8">
        <form ngForm #f="ngForm" (ngSubmit)="addCourse(f.value)">
          <div class="row">
            <div class="col">
              <span class="title">SESSION</span>
              <mat-form-field>
                <mat-select name="session" #session [(ngModel)]="course.session" required> 
                  <mat-option value=""></mat-option>
                  <mat-option *ngFor="let s of sessions" [value]="s"> {{ s }}</mat-option>

                </mat-select>
                <!-- <mat-error *ngIf="docN.touched && !docN.valid">
                  <div *ngIf="docN.errors.required">Document name is required</div>
                </mat-error> -->
              </mat-form-field>
            </div>
            <div class="col">
              <span class="title">SEMESTER</span>
              <mat-form-field>
                <mat-select name="semester" #semester [(ngModel)]="course.semester" required> 
                  <mat-option value=""> </mat-option>
                  <mat-option value="first"> First </mat-option>
                  <mat-option value="second"> Second </mat-option>

                </mat-select>
                <!-- <mat-error *ngIf="docN.touched && !docN.valid">
                  <div *ngIf="docN.errors.required">Document name is required</div>
                </mat-error> -->
              </mat-form-field>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <div class="row">
                <div class="col">
                    <mat-form-field class="example-full-width">
                      <input type="text" placeholder="Search for a course..." aria-label="Search for course" 
                        matInput [formControl]="searchCourseFormField" 
                        [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                          {{option.courseCode}}- {{option.courseName}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-4" align="right">
                  <button mat-raised-button [disabled]="!f.valid || (searchCourseFormField.status != 'VALID')">Add Course</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col col-md-4">
      </div>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-12 col-lg-8 pt-3" >
  
        <p *ngIf="coursesTableData.length == 0; else showCourses">You have not registered for any course yet</p>
        <ng-template #showCourses>
          <div [ngStyle]='{"max-height": "400px", "overflow": "auto", "margin-bottom": "20px"}'>
            <table align="center" mat-table [dataSource]="dataSource" class="pt-2 mat-elevation-z8">

              <ng-container matColumnDef="sn">
                <th mat-header-cell *matHeaderCellDef> SN. </th>
                <td mat-cell *matCellDef="let element; let i= index"> {{ i+1 }} </td>
              </ng-container>
            
              <ng-container matColumnDef="courseCode">
                  <th mat-header-cell *matHeaderCellDef> Course Code </th>
                  <td mat-cell *matCellDef="let element"> {{ element.courseCode }} </td>
                </ng-container>

              <ng-container matColumnDef="courseName">
                <th mat-header-cell *matHeaderCellDef> Course Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.courseName }} </td>
              </ng-container>
            
              <ng-container matColumnDef="lecturer">
                  <th mat-header-cell *matHeaderCellDef>Lecturer </th>
                  <td mat-cell *matCellDef="let element"> 
                    {{ element.lecturer?.name.firstName }} {{ element.lecturer?.name.lastName }} </td>
              </ng-container>
            
              <ng-container matColumnDef="unit">
                  <th mat-header-cell *matHeaderCellDef>Units </th>
                  <td mat-cell *matCellDef="let element"> {{ element.units }} </td>
              </ng-container>

              <ng-container matColumnDef="options">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">  
                    <button  mat-stroked-button color="danger" mat-button (click)="removeCourse(element)">Remove</button>
                  </td>
                </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
            </table>  
          </div>    

          <button mat-raised-button (click)="submitCourse()">Submit</button>
        </ng-template>

      <div class="pt-3"></div>

    </div>

    <div class="col-6 col-lg-4">

    </div>

  </div>
  </div>