<!-- Create different Nav Route for users-->

<ul class="navbar-nav sidebar" align="center">
    <li>
        <button mat-icon-button routerLink="dashboard" >
          <mat-icon class="md-light md-dark">home</mat-icon>
        </button>
        <span>Home</span>
    </li>
    <li>
        <button mat-icon-button routerLink="profile" >
          <mat-icon>person</mat-icon>
        </button>
        <span>Profile</span>
    </li>
    <li>
        <button mat-icon-button routerLink="courses">
          <mat-icon>list</mat-icon>
        </button>
        <span>Courses</span>
    </li>
    <li>
        <button mat-icon-button routerLink="messages">
          <mat-icon>message</mat-icon>
        </button>
        <span>Messages</span>
    </li>
    <li>
        <button mat-icon-button routerLink="books">
          <mat-icon>books</mat-icon>
        </button>
        <span>Books</span>
    </li>
    <li>
        <button mat-icon-button routerLink="help">
          <mat-icon>help</mat-icon>
        </button>
        <span>Help</span>
    </li>
  </ul>