
.calender{
    position: relative;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

/* .calender .mat-calendar{
    width: 80%;
    max-height: 390px;
    max-width: 400px;
    margin: auto
} */

.options button{
    margin-right: 10px;
}

/* .option .mat-stroked-button.inverse{
    border-radius: 0px;
    background-color: lightgray
} */